.bottom-sheet {
    position: fixed;
    bottom: -450px;
    left: 0;
    right: 0;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #FFA500;
    background: #A9A9A9;
    box-shadow: 0px -10px 15px 0px rgba(0, 31, 63, 0.40), 10px 0px 15px 0px rgba(0, 31, 63, 0.40);
    transition: bottom 0.5s ease-in-out;
}

.bottom-sheet.open {
    bottom: 0;
}