.bottom-sheet {
    position: fixed;
    top: calc(100% - 55px);
    bottom: auto;
    left: 0;
    right: 0;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #FFA500;
    background: #A9A9A9;
    box-shadow: 0px -10px 15px 0px rgba(0, 31, 63, 0.40), 10px 0px 15px 0px rgba(0, 31, 63, 0.40);
    transition: all 0.5s ease-in-out;
    overflow: auto;
}

.bottom-sheet.open {
    top: auto;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .bottom-sheet {
        width: 100%;
        top: auto;
        bottom: 0;
        display: none;
        transition: display 0.4s ease-in;
    }

    .bottom-sheet.open{
        display: block;
    }



}