.wait-list-drawer {
    height: fit-content;
}

.wait-list-drawer .head {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #A9A9A9;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}


.wait-list-drawer .head img{
    cursor: pointer;
}

.wait-list-drawer .head p {
    /* width: 100%; */
    color: #001F3F;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.wait-list-drawer .head .head-button {
    color: #A9A9A9;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #FFA500;
    background: #001F3F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.wait-list-drawer .content {
    padding: 16px;
}

.wait-list-drawer .content p {
    color: #001F3F;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wait-list-drawer .content select {
    margin-block: 20px;
    width: fit-content;
    color: #001F3F;
    background-color: transparent;
    font-family: Roboto;
    font-size: 20px;
    padding: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    outline: none;
    border-radius: 5px;
    border: 2px solid #FFA500;
    appearance: none;
}

.wait-list-drawer .content select option {
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 12px;
    background-color: transparent;
    border: 2px solid #FFA500;
}

select::after {
    
}



.wait-list-drawer .content label {
    display: block;
    color: #001F3F;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.wait-list-drawer .content input {
    display: block;
    width: 400px;
    font-size: 24px;
    background-color: transparent;
    border: 3px solid #001F3F;
    border-width: 0 0 3px 0;
    outline: none;
    margin-block: 10px;
}


.wait-list-drawer button {
    cursor: pointer;
    margin-top: 30px;
    width: 250px;
    color: #A9A9A9;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 30px;
    text-transform: capitalize;
    border-radius: 60px;
    border: 2px solid #FFA500;
    background: #001F3F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    transition: all 0.4s ease-in;
}

.wait-list-drawer button:hover {
    color: #F5F5F5;
    background: #0080ff;
}


@media screen and (max-width: 768px) {
    .wait-list-drawer .head p {
        font-size: 1.2rem;
    }

    .wait-list-drawer .head .head-button {
        font-size: 1rem;
    }

    .wait-list-drawer .content {
        padding: 0.7rem;
    }

    .wait-list-drawer .content p {
        font-size: 1rem;
    }

    .wait-list-drawer .content label {
        font-size: 1.1rem;
    }

    .wait-list-drawer .content input {
        width: 90%;
    }

    .wait-list-drawer button {
        font-size: 1rem;
        padding: 0.7rem 1.2rem;
        width: 200px;
    }

}