.Hero {
    height: 100vh;
    max-height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    box-sizing: border-box;
}

.hero-image-background {
    width: 100%;
    text-align: center;
}

.hero-image-background img{
    height: 500px;
}

@media screen and (max-width: 768px) {
    .Hero {
        max-height: fit-content;
        margin-block: 2rem;
        height: fit-content;
        justify-content: space-around;
        padding: 0;
        gap: 2rem;
        width: 100%;
    }

    .Hero img {
        object-fit: cover;
        margin-inline: auto;
        width: 90%;
        height: fit-content;
    }
}