.Hero{
    height: 100vh;
    max-height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    box-sizing: border-box;
}


@media screen and (max-width: 768px) {  
    .Hero{
        max-height: 500px;
        margin-block: 2rem;
        height: fit-content;
        justify-content: space-around;
        padding: 0;
        gap: 2rem;
    }
    .Hero img{
        /* height: 400px; */
        object-fit: cover;
        margin-inline: auto;
        width: 90%;
    }
}