* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


.App .top-text {
  margin-inline: auto;
  margin-block: 40px;
  width: 70%;
}

.App .top-text h2 {
  color: #001F3F;
  font-family: Montserrat;
  font-size: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
}


.App .top-text p {
  color: #001F3F;
  text-align: justify;
  font-feature-settings: 'case' on;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 100px;
  /* text-transform: inherit; */
}

.page-content{
  width: 100%;
  margin: 0 auto;
}

.card-container{
  width: 100%;
}


.container {
  margin-inline: auto;
  max-width: 1440px;
}


@media screen and (max-width: 768px) {  
  .page-content{
    width: 100%;
  }
  .App .top-text{
    width: 90%;
    margin: 40px auto;
  }

  .App .top-text h2 {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
  }

  .App .top-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
  }

  .card-container{
    background-color: red;
    /* height: 200px; */
  }
  
}
